iframe {
	max-width: 100%
}
div.view.view-cascade {
	background: rgb(9,39,65);
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1.25rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}

div.view.view-cascade h5 { 
font-weight: 300;
    text-align: center;
}
.divided-list > li {
	    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1rem;
}
header {
  position: relative;
  background-color: black;
  height: 40vh;
  min-height: 25rem;
  width: 80%;
  overflow: hidden;
  background: transparent;
  margin: 0 auto;
}


header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0.5;
  z-index: 1;
}
.bg-hBlue {
	background: rgba(9,39,65,.9);
}

.dropdown-item:focus, .dropdown-item:hover {
	 background: rgba(9,39,65, 1);
	 color: #fff;
}
.nav-item.active.nav-link { 
	color: rgba(255,255,255,.7)!important;
}
.at-home {
position: relative;
    background-color: black;
    height: 40vh;
    min-height: 25rem;
    width: 80%;
    overflow: hidden;
    background: url(/img/main-header.jpg);
    background-size: cover;
}


.bav-h {
position: relative;
    background-color: black;
    height: 40vh;
    min-height: 25rem;
    width: 80%;
    overflow: hidden;
    background: url(/img/bavaria-hd.jpg);
    background-size: cover;
}

.rac-h {
	position: relative;
    background-color: black;
    height: 40vh;
    min-height: 25rem;
    width: 80%;
    overflow: hidden;
    background: url(../img/ir-racing-hd.jpg);
    background-size: cover;
}
.at-dublin {
	position: relative;
    background-color: black;
    height: 40vh;
    min-height: 25rem;
    width: 80%;
    overflow: hidden;
    background: url(../img/bcr-dublin-hd.jpg);
    background-size: cover;
}
.at-moscow {
	position: relative;
    background-color: black;
    height: 40vh;
    min-height: 25rem;
    width: 80%;
    overflow: hidden;
    background: url(../img/moscow-hd.jpg);
    background-size: cover;
}
.at-events {
	position: relative;
    background-color: black;
    height: 40vh;
    min-height: 25rem;
    width: 80%;
    overflow: hidden;
    background: url(../img/events-hd.jpg);
    background-size: cover;
}

nav {
	width: 80%;
    margin: 0 auto;
}
html {
	background: url(../img/bg.jpg);
}

@media screen and (max-width: 1150px) {
    .rac-h {
            background-position-x: -204px;
    }
	header,nav,section {
		width: 100%!important;
}
	section {
		padding: 1rem!important;
	}
	.intro-text, div.bg-faded.p-5.rounded  {
		padding: 1rem!important;
	}
}
@media screen and (max-width: 600px) {
    .rac-h {
            background-position-x: -274px!important;
    }
}
@media screen and (max-width: 991px) {
	.cta-inner.text-center.rounded {
		color: white;
	}
}
section:nth-child(odd) {
width: 80%;
    margin: 5rem auto;
	background: rgba(33,76,91,.9);
	padding: 5em;
	border-radius: .25rem!important;
}
section:nth-child(even) {
width: 80%;
    margin: 5rem auto;
	background: rgba(9,39,65,.9);
	padding: 5em;
	border-radius: .25rem!important;
}

.at-circ {
	background: url('../img/mondello-park.jpg');
	
}

.news-holder {
    max-width: 100%;
    height: 490px;
    margin: 0 auto;
    font-family: "Segoe UI","Trebuchet MS", Arial, sans-serif;
    font-size: 13px;
    background: transparent;
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

.news-headlines {
  list-style: none;
  position: relative;
}

.news-headlines li {
    padding: 7px;
    position: relative;
    z-index: 20;
    color: #dddddd;
    width:100%;
  background:#888888;
    min-height: 113px;
  font-size: 35px;
}
.nh-anim {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }

  .news-headlines > li:hover, .news-headlines > a:hover {
      cursor: pointer;
      background:#333333;
      color:white;
  }
li.selected{
   background:#333333;
 }
.news-headlines .highlight {
     width: 100%;
     background: #888888;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;
  }
.news-headlines {
   float: left;
   width: 30%;
}
.news-preview {
   float: left;
   width: 70%;
   position: relative;
   z-index: 5;
   position: relative;
}

.news-preview img {
    display: block;
    width: 100%;
    height: auto;
    max-height: auto;
    margin: 0 auto 5px auto;
  } 

.news-content {
    position: absolute;
    background: transparent;
    z-index: 10;
    padding: 10px;
    top: 0;
    left: 0;
    right:0;
    display: none;
}
.resume{
  position:absolute;
  bottom:15px;
  left:10px;
  right:10px;
  background:rgba(0,0,0,0.8);
  padding:10px;
  color:#bbb;
}
a.title {
  display:block;
  color:#dddddd;
  margin:0 0 12px 0;
  font-size:18px;
}
a.title:hover{
  background:none;
  text-decoration:underline;
}
.top-content {
    display: block;
}

.well img{width:100%;
  cursor:pointer;
  max-height: 160px;
  }

.lightbox{display:none;
          z-index:1;
          height:100vh;
          width:100%;
          background: rgba(0, 0, 0, .9);
          color:grey;
          padding-right:10px;
          font-size:3em;
          }

.lightbox label{cursor:pointer;}

#imgactive{
       position: fixed;
       z-index:2;
	     top:0;
	     bottom: 0;
	     left: 0;
	     right: 0;
	     margin: auto;
       padding:20px;
       cursor:inherit;
	   max-width: 650px;
	   max-height: 500px!important;
	   }

@media screen and (max-width: 400px) {
#imgactive {padding:0;}
}

@media screen and (min-width: 600px) {
#imgactive {width:80%;}
}

@media screen and (min-width: 800px) {
#imgactive {width:70%;}
}

@media screen and (min-width: 1000px) {
#imgactive {width:65%;}
}

@media screen and (min-width: 1200px) {
#imgactive {width:60%;}
}


.timeline {
    padding: 50px 0;
    position: relative;
}
.timeline-nodes {
        padding-bottom: 25px;
        position: relative;
    }
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline h3, .timeline p {
    padding: 5px 15px;
} 
.timeline h3{
    font-weight: lighter;
    background: rgba(33,76,91,.9);
}
.timeline p, .timeline time {
    color: #fff;
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed rgba(33,76,91,.9);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content {
    border: 1px solid rgba(33,76,91,.9);
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2)
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}
 
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 10px solid rgba(33,76,91,.9);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid rgba(33,76,91,.9);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-image {
    position: relative;
    z-index: 100;
}
.timeline-image::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px dashed rgba(33,76,91,.9);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    z-index: 1;
    

}
.timeline-image img {
    position: relative;
    z-index: 100;
}
/*small device style*/

@media (max-width: 767px) {
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
    text-align: left
}
.timeline-nodes:nth-child(even) {
    flex-direction: row;
}
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline h3 {
    font-size: 1.7rem;
}
.timeline p {
    font-size: 14px;
}
.timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
    /*transform: translateX(-50%;);*/
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
}
.timeline-image::before {
    width: 65px;
    height: 65px;
}
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
}
.timeline-image {
    position: absolute;
    left: -5%;
    }
.timeline-image::before {
    width: 60px;
    height: 60px;
}
}
